#canvas {
    width: 100vw;
    height: 93vh;
    position: fixed;
    top: 7vh;
    left: 0;
}

.reset-btn {
    position: fixed;
    z-index: 2;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: #ddd;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #ccc;
}

.reset-btn:active {
    background-color: #bbb;
}