#canvas, .canvas-placeholder {
    width: calc(80vw + 30px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: calc(20vw - 30px);
}

.canvas-placeholder {
    text-align: center;
    padding-top: 30vh;
    color: #888;
    z-index: 3;
}

.reset-btn {
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: #ddd;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #ccc;
}

.reset-btn:active {
    background-color: #bbb;
}