.tabs {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 5vh;
}

.workspace {
    position: fixed;
    top: 0;
    left: calc(20vw - 25px);
    width: 80vw;
    height: 100vh;
    padding: 1vw;
}

/* .info-wrapper {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */

/* .router-tab {
    width: 50vw;
    height: 5vh;
    padding-top: 2vh;
    padding-bottom: -2vh;
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #666;
}

.router-tab:hover {
    background-color: #ddd;
    color: #555;
} */
