.tabs {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 5vh;
}

.workspace {
    position: fixed;
    top: 7vh;
    left: 0;
    width: 100vw;
    height: 93vh;
    padding: 1vw;
}

.router-tab {
    width: 50vw;
    height: 5vh;
    padding-top: 2vh;
    padding-bottom: -2vh;
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #666;
}

.router-tab:hover {
    background-color: #ddd;
    color: #555;
}
