/* .console-wrapper {
    position: fixed;
    width: 100vw;
    height: 93vh;
    top: 7vh;
    left: 0;
    padding: 20px;
} */

.sidebar {
    position: fixed;
    width: calc(20vw - 30px);
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #efefef;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.router-tab {
    text-decoration: none;
    color: #666;
}

.sidebar-subheader:hover {
    background-color: #00838f;
    color: white;
}

.sidebar-subheader:active {
    background-color: #005662;
    color: white;
}

.sidebar-btn {
    padding: 15px;
}

.sidebar-btn:hover {
    background-color: #4fb3bf;
    /* color: white; */
}

.sidebar-btn:active {
    background-color: #005662;
    color: white;
}

.sidebar-subheader {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

/* .sidebar-subheader:hover {
    background-color: #bbb;
    color: #444;
} */

.info-wrapper {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.info {
    position: fixed;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    bottom: 10vh;
    background: white;
    padding: 30px;
    border-radius: 1.5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.info-btn {
    position: fixed;
    z-index: 1;
    /* right: 10px; */
    width: 50px;
    text-align: center;
    bottom: 10px;
    padding: 10px;
    background-color: #00838f;
    color: white;
    cursor: pointer;
    right: 90px;
}

.info-btn:hover {
    background-color: #4fb3bf;
    color: black;
}

.info-btn:active {
    background-color: #005662;
    color: white;
}

.help {
    position: fixed;
    width: calc(60vw - 60px);
    top: 20vh;
    left: 20vw;
    background-color: white;
    padding: 30px;
    border-radius: 1.5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.help h1 {
    color: #888;
}

.btn {
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    width: 80px;
    background-color: #00838f;
    color: white;
}

.btn:hover {
    background-color: #4fb3bf;
    color: black;
    cursor: pointer;
}

.btn:active {
    background-color: #005662;
    color: white;
}

.btn, .info-btn {
    border-radius: 1.5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.matrix-div {
    min-width: 40px;
    float: left;
    text-align: center;
}

.wiki-link {
    font-size: 16pt;
    text-decoration: none;
    color: #999;
}

.wiki-link:hover {
    color: #888;
}

.fa-external-link {
    font-size: 10pt;
    /* color: #aaa; */
}