<!-- <div class="console-wrapper"> -->
    <div class="sidebar">
        <a class="router-tab" routerLink="/2d">
            <div class="sidebar-subheader" (click)="switch2d3d(1)">
                <i><label>2d</label></i>
            </div>
        </a>
        <div *ngIf="twoD">
            <div class="sidebar-btn" (click)="selectItem(0)">
                <label>Necker cube</label>
            </div>
            <div class="sidebar-btn" (click)="selectItem(1)">
                <label>Penrose Tribar</label>
            </div>
            <div class="sidebar-btn" (click)="selectItem(2)">
                <label>Triangle Spidron</label>
            </div>
            <div class="sidebar-btn" (click)="selectItem(3)">
                <label>Unicursal Hexagram</label>
            </div>
        </div>
        <a class="router-tab" routerLink="/3d">
            <div class="sidebar-subheader" (click)="switch2d3d(0)">
                <i><label>3d</label></i>
            </div>
        </a>
        <div *ngIf="!twoD">
            <div class="sidebar-btn">
                <label>Cube</label>
            </div>
            <div class="sidebar-btn">
                <label>Octahedron</label>
            </div>
        </div>
        <div class="sidebar-btn" style="position: fixed; width: 15vw; text-align: center; bottom: 0;" (click)="showHelp()">Help</div>
    </div>
    <div *ngIf="help" class="info-wrapper">
        <div class="help">
            <h1>Help</h1>
            <p>
                <i class="fa fa-keyboard-o" aria-hidden="true"></i> <i class="fa fa-arrows" aria-hidden="true"></i> - translation<br>
                <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>A (<i class="fa fa-arrow-left" aria-hidden="true"></i>), D (<i class="fa fa-arrow-right" aria-hidden="true"></i>)</b> - rotation<br>
                <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>W, S</b> - reflection X/Y<br>
                <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>Space</b> - reflection O<br>
                <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>Q (-), E (+)</b> - scaling<br>
                <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>Z, X</b> - stratching (horizontal/vertical)<br>
                <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>C, V</b> - compression (horizontal/vertical)<br>
                <i class="fa fa-mouse-pointer" aria-hidden="true"></i> <b>Click</b> - set pivot                
            </p>
            <div class="btn" (click)="showHelp()">Close</div>
        </div>
    </div>
    <div class="info-wrapper" *ngIf="info">
        <div class="info">
            <h2>{{ selectedModel }} <label *ngIf="selectedItem === 2">(Depth: 5)</label>
                <a class="wiki-link" *ngIf="selectedItem === 0" href="https://en.wikipedia.org/wiki/Necker_cube" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> <i class="fa fa-external-link" aria-hidden="true"></i></a>
                <a class="wiki-link" *ngIf="selectedItem === 1" href="https://en.wikipedia.org/wiki/Penrose_triangle" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> <i class="fa fa-external-link" aria-hidden="true"></i></a>
                <a class="wiki-link" *ngIf="selectedItem === 2" href="https://en.wikipedia.org/wiki/Spidron" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> <i class="fa fa-external-link" aria-hidden="true"></i></a>
                <a class="wiki-link" *ngIf="selectedItem === 3" href="https://en.wikipedia.org/wiki/Unicursal_hexagram" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </h2>
            <h3>Vertices ({{ model.getVerticesCount() }})</h3>
            <div *ngFor="let row of model.vertices.cells">
                <div class="matrix-div" *ngFor="let item of row"> {{ item }} </div><br>
            </div>
            <h3>Edges ({{ model.getEdgesCount() }})</h3>
            <div *ngFor="let row of model.edges.cells">
                <div class="matrix-div" *ngFor="let item of row"> {{ item }} </div><br>
            </div>
            <div class="btn" (click)="showInfo()">Close</div>
        </div>
    </div>
    <div class="info-btn" *ngIf="selectedItem !== -1" (click)="showInfo()">Info</div>
    <!-- <div class="console">
        <div class="placeholder" *ngIf="selectedItem === -1">
            <h1>Select shape</h1>
        </div>
        <div class="info" *ngIf="selectedItem !== -1">
            <h2>{{ selectedModel }} <label *ngIf="selectedItem === 2">(Depth: 5)</label></h2>
            <h3>Vertices ({{ model.getVerticesCount() }})</h3>
            <div *ngFor="let row of model.vertices.cells">
                <div class="matrix-div" *ngFor="let item of row"> {{ item }} </div><br>
            </div>
            <h3>Edges ({{ model.getEdgesCount() }})</h3>
            <div *ngFor="let row of model.edges.cells">
                <div class="matrix-div" *ngFor="let item of row"> {{ item }} </div><br>
            </div>
        </div>
    </div> -->
<!-- </div> -->