<!-- <div class="console-wrapper"> -->
    <div class="sidebar">
        <a class="router-tab" routerLink="/2d">
            <div class="sidebar-subheader" (click)="switch2d3d()">
                <i><label>2d</label></i>
            </div>
        </a>
        <div *ngIf="twoD">
            <div class="sidebar-btn" (click)="selectItem(0)">
                <label>Necker cube</label>
            </div>
            <div class="sidebar-btn" (click)="selectItem(1)">
                <label>Penrose Tribar</label>
            </div>
            <div class="sidebar-btn" (click)="selectItem(2)">
                <label>Triangle Spidron</label>
            </div>
            <div class="sidebar-btn" (click)="selectItem(3)">
                <label>Unicursal Hexagram</label>
            </div>
        </div>
        <a class="router-tab" routerLink="/3d">
            <div class="sidebar-subheader" (click)="switch2d3d()">
                <i><label>3d</label></i>
            </div>
        </a>
        <div *ngIf="!twoD"></div>
    </div>
    <!-- <div class="console">
        <div class="placeholder" *ngIf="selectedItem === -1">
            <h1>Select shape</h1>
        </div>
        <div class="info" *ngIf="selectedItem !== -1">
            <h2>{{ selectedModel }} <label *ngIf="selectedItem === 2">(Depth: 5)</label></h2>
            <h3>Vertices ({{ model.getVerticesCount() }})</h3>
            <div *ngFor="let row of model.vertices.cells">
                <div class="matrix-div" *ngFor="let item of row"> {{ item }} </div><br>
            </div>
            <h3>Edges ({{ model.getEdgesCount() }})</h3>
            <div *ngFor="let row of model.edges.cells">
                <div class="matrix-div" *ngFor="let item of row"> {{ item }} </div><br>
            </div>
            <div style="color: grey; text-align: center">
                <p>
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i> <i class="fa fa-arrows" aria-hidden="true"></i> - translation<br>
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>A (<i class="fa fa-arrow-left" aria-hidden="true"></i>), D (<i class="fa fa-arrow-right" aria-hidden="true"></i>)</b> - rotation<br>
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>W, S</b> - reflection X/Y<br>
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>Space</b> - reflection O<br>
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>Q (-), E (+)</b> - scaling<br>
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>Z, X</b> - stratching (horizontal/vertical)<br>
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i> <b>C, V</b> - compression (horizontal/vertical)<br>
                    <i class="fa fa-mouse-pointer" aria-hidden="true"></i> <b>Click</b> - set pivot                
                </p>
            </div>
        </div>
    </div> -->
<!-- </div> -->