.console-wrapper {
    position: fixed;
    width: 100vw;
    height: 93vh;
    top: 7vh;
    left: 0;
    padding: 20px;
}

.sidebar {
    position: fixed;
    width: calc(20vw - 30px);
    height: 93vh;
    top: 7vh;
    left: 0;
    background-color: #ddd;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.console {
    position: fixed;
    width: calc(85vw - 30px);
    height: 93vh;
    top: 7vh;
    left: 16vw;
    padding-left: 30px;
    padding-right: 30px;
}

.placeholder {
    width: calc(80vw - 30px);
    text-align: center;
    padding-top: 30vh;
    color: #888;
}

.sidebar-btn {
    padding: 15px;
}

.sidebar-btn:hover {
    background-color: #ccc;
}

.matrix-div {
    min-width: 40px;
    float: left;
    text-align: center;
}