@import '../variables/variables.sass'

.wrapper
    position: absolute
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    background-color: $secondary-color-dark
    color: #ffffff
    // text-align: center
    // z-index: 2

#startCanvas 
    position: absolute
    width: 100vw
    height: 100vh
    top: 0
    left: 0

.starth1
    position: absolute
    top: 20wh
    left: 5vw
    right: 5vw
    font-size: 45pt
    font-family: 'Cinzel', serif

.startbtn
    // &:hover
    //     color: $secondary-color-light
    //     cursor: pointer
    position: absolute
    top: 70vh
    right: 20vw
    font-size: 25pt

.startbtn:hover
    color: $secondary-color-light
    cursor: pointer
